
.editor {font-size: 20px;
         color: white;
         background-color:#1B2D33;
}

.viewer {font-size: 20px;
         color: #000000;
         background-color:#ffffff;
}
.viewer pre {background-color: #eeeeee;
             padding: 10px;}

table{
      border:solid 2px #ccc;
      border-collapse:collapse;
}
table td,
table th{
      border:solid 1px #ccc;
}

img{max-width: 100%;}


blockquote{
    margin: 3em 10px;
    padding: 1.5em 1em;
    background: #fff;
    background: url(./blockquote2.gif) no-repeat 1% 5%;
    border: 5px solid #DBDBDB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

blockquote em, blockquote i, blockquote cite {
 font-style: normal;
}
blockquote cite {
 color: #063b58;
 font-weight: 300;
 text-transform: uppercase;
    text-align: right;
    display: block;
}

blockquote p{
    margin: 0;
    line-height: 160%;
    color: #063b58;
    font-size: 90%;
}

mark {
  padding: 0;
  background-color:#ffff00
}
